#!/usr/bin/expect

set user [lindex $argv 0]
set key [lindex $argv 1]
 
spawn python manage.py changepassword ${user}
expect "*Password:*" 
send "${key}\r"
expect "*(again)*"
send "${key}\r"
expect eof